{% extends 'base.html' %}

{% block cuerpo %}

    {% load widget_tweaks %}

    <h3> {% block header1 %} {% endblock header1 %} </h3>   

    <script>

        function actualizarColorYTextoTipoCategoriaMovimientoFinanciero(){

            $("#id_tipo_categoria_movimiento_financiero").val( $("#id_categoria_movimiento_financiero").val() )

            if ( $("#id_tipo_categoria_movimiento_financiero option:selected").text() == "GASTO" )
            {
                $("#id_tipo_categoria_movimiento_financiero").removeClass("bg-success").addClass('bg-danger text-white');

            } else if ( $("#id_tipo_categoria_movimiento_financiero option:selected").text() == "INGRESO" ) 
            
            {

                $("#id_tipo_categoria_movimiento_financiero").removeClass("bg-danger").addClass('bg-success text-white');

            }

            else 
            {
                $("#id_tipo_categoria_movimiento_financiero").removeClass("bg-danger bg-success text-white");
            }

        }

        $(document).ready(function(){

            actualizarColorYTextoTipoCategoriaMovimientoFinanciero()

            $("#id_categoria_movimiento_financiero").change(function(){

                actualizarColorYTextoTipoCategoriaMovimientoFinanciero()
            })
        }) 
    </script>

    <form method="post">
        {% csrf_token %}

        <div class="form-group form-inline ">
            <label for="">Categoría:</label>
            {{ form.categoria_movimiento_financiero|add_class:"form-control" }}
        </div>

        <div class="form-group form-inline ">
            <label for="">Tipo:</label>
            {{ form.tipo_categoria_movimiento_financiero|add_class:"form-control"|attr:"disabled" }}
        </div>

        <div class="form-group form-inline ">
            {{ form.monto.label }}
            {{ form.monto|add_class:"form-control" }}
        </div>

        <div class="form-group form-inline ">
            {{ form.cuenta.label }} 
            {{ form.cuenta|add_class:"form-control" }}
        </div>

        <div class="form-group form-inline ">
            {{ form.fecha.label }} 
            {{ form.fecha|add_class:"form-control"|attr:"type:date" }}
        </div>


        <div class="form-group form-inline ">
            {{ form.comentario.label }} 
            {{ form.comentario|add_class:"form-control"}}
        </div>
    
        <button class="btn btn-success" type="submit"> 
            {% block label_boton_accion %} {% endblock label_boton_accion %} 
            <span class="fa fa-save" aria-hidden="true"></span>
        </button>
        <a class="btn btn-light" href="{% url 'listarMovimientosFinancieros' %}"> 
            Volver
            <span class="fa fa-reply" aria-hidden="true"></span>
         </a>

    

    </form>

{% endblock cuerpo %}