{% extends 'base.html' %}
{% block titulo %} Lista de Movimientos {% endblock titulo %}
{% block cuerpo %}

<p>
    <h3> Movimientos </h3>
    <a class="btn btn-dark" href="{% url 'crearMovimientoFinanciero' %}"> 
        Crear 
        <span class="fa fa-plus" aria-hidden="true"></span>
    </a>
</p>

<table class="table table-bordered table-sm table-hover">
    <thead class="table-dark" >
        <tr>
            <th>Cuenta</th>
            <th>Moneda</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        {% for cuenta in cuentas %}
        <tr>
            <td> {{ cuenta.nombre }} </td>
            <td> {{ cuenta.moneda }} </td>
            <td> {{ cuenta.saldo }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<table class="table table-bordered table-sm table-hover">
    <thead class="table-dark">
        <tr>
            <th>Fecha</th>
            <th>Categoria</th>
            <th>Monto</th>
            <th>Cuenta</th>
            <th>Comentario</th>
            <th>id</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for movimiento_financiero in movimientos_financieros %}
        <tr>
            <td> {{ movimiento_financiero.fecha|date:'d/m/Y' }} </td>
            <td> {{ movimiento_financiero.categoria_movimiento_financiero }} </td>
            <td> {{ movimiento_financiero.monto }} </td>
            <td> {{ movimiento_financiero.cuenta }} </td>
            <td>
                {% if movimiento_financiero.comentario %}
                {{ movimiento_financiero.comentario }}
                {% else %}
                &nbsp;
                {% endif %}
            </td>
            <td> {{ movimiento_financiero.id }} </td>
            <td> 
                <a class="btn btn-primary" href="{% url 'actualizarMovimientoFinanciero' movimiento_financiero.id %}"> 
                    <span class="fa fa-edit" aria-hidden="true"></span>
                </a>
            </td>
            <td> 
                <a class="btn btn-danger" href="{% url 'eliminarMovimientoFinanciero' movimiento_financiero.id %}">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                </a> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock cuerpo %}